body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #ff66cc; /* Cor padrão */
  text-align: center;
  padding: 20px;
}

footer {
  background-color: #ff66cc; /* Cor padrão */
  text-align: center;
  padding: 10px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  background-color: #ff66cc; /* Cor padrão dos botões */
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #ff33cc;
}

/* Media Query para telas menores que 600px */
@media (max-width: 600px) {
  /* Alterar cor do cabeçalho e rodapé quando a tela for menor que 600px */
  header {
    background-color: #ff33cc;
  }

  footer {
    background-color: #ff33cc;
  }

  button {
    background-color: #ff33cc; /* Botão com a mesma cor do header e footer */
  }

  button:hover {
    background-color: #ff0066; /* Cor do botão ao passar o mouse */
  }

  /* Modificar o layout para ficar mais adequado para dispositivos móveis */
  body {
    padding: 10px;
    background-color: #ffe6f0; /* Fundo mais suave para telas pequenas */
  }
}
